/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  height: 100vh;
  background: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: auto;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
.card {
  background: none;
  width: 10rem;
  height: 0.3rem;
  position: relative;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.card.flip {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
img {
  height: auto;
  width: 100%;
  position: relative;
  border-radius: 7%;
}
img:hover {
  -webkit-box-shadow: 0 0 20px 20px #d4d45b;
  box-shadow: 0 0 20px 20px #d4d45b;
}
.card:active {
  -webkit-transform: scale(0.97);
  -ms-transform: scale(0.97);
  transform: scale(0.97);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.back,
.front {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
p {
  color: aliceblue;
}
/* bOOTSTRAP CUSTOM UPPERBOUND BREAK POINTS FOR RESPONSIVE DESIGN */

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 280px) {
}
@media (max-width: 575.98px) {
  .card {
    height: auto;
    width: 4rem;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .card {
    height: auto;
    width: 4rem;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card {
    height: auto;
    width: 5.5rem;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card {
    width: 9rem;
    height: 0.3rem;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
